#pdfjs_viewer-reduced {
  .openFile { display: none; }
  .bookmark { display: none; }
  #viewThumbnail { display: none; }
  #viewOutline { display: none; }
  #viewAttachments { display: none; }
  // #download { display: none; }
  #print { display: none; }
  #secondaryToolbarToggle { display: none; }
  #toolbarViewerRight div.verticalToolbarSeparator { display: none; }
  #zoomOut { display: none; }
  #zoomIn { display: none; }
  #scaleSelectContainer { display: none; }
  #viewFind { display: none; }
  #presentationMode { display: inline; }
  #download { display: none; }
}
